<ion-content class="ion-padding " [fullscreen]="true" >
  <ion-header [translucent]="false" class="ion-border">
    <ion-grid [fixed]="true" >
      <ion-row>
        <ion-col>
          <ion-icon name="logo-ionic" size="large"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-img src="/src/assets/img/TinderLogo.svg"></ion-img>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-ionic" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col >
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-header>
      <ion-row>
        <ion-col>
           <ion-card-title>Prenom</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-ionic" size="small"></ion-icon>
          <p>km</p>
       </ion-col>

      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="logo-ionic" size="large"></ion-icon>
      <ion-icon name="logo-ionic" size="large"></ion-icon>
      <ion-icon name="logo-ionic" size="large"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button>NO</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>Super</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>Yes</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
