
:host{
  .ion-padding {
  --padding-start:0;
  --padding-end:0;
  --padding-top:0;
  padding-inline-start:0;
  padding-inline-end:0;
  padding-top:0;
  padding-bottom:0;
}

.col-img{
  height: 50vh;
  overflow-y: scroll;

}
img{
  display: block;
  max-height: 100%;
  // max-width: none!important;
}
.col-img ion-card img {
  width: 100%;
  height: auto;
  // object-fit: cover; /* Pour ajuster l'image à la taille de la carte sans déformation */
}

}



