<ion-content class="ion-padding " [fullscreen]="true" >
  <ion-header [translucent]="false" class="ion-border">
    <ion-grid [fixed]="true" >
      <ion-row>
        <ion-col>
          <ion-icon name="logo-ionic" size="large"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-img src=""></ion-img>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-ionic" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>



  <ion-card *ngFor="let user of UserToLike | async">


    <ion-grid>
      <ion-row>
        <ion-col class="col-img">
          <ion-card *ngFor="let imageUrl of userImages">
            <img [src]="imageUrl" alt="User Image" />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>




    <ion-card-header>
      <ion-row>
        <ion-col>
           <ion-card-title>{{user.firstname}}</ion-card-title>
           <p>{{user.birthday}}</p>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-ionic" size="small"></ion-icon>
          <p>km</p>
       </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-chip *ngFor="let passion of user.passions">{{ passion }}</ion-chip>
    </ion-card-content>
  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button>NO</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>Yes</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
