ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #4d83e7;

}


.ion-padding {
  --padding-start:0;
  --padding-end:0;
  --padding-top:0;
  padding-inline-start:0;
  padding-inline-end:0;
  padding-top:0;
  padding-bottom:0;
}

ion-card{
  height: auto;

}

