<ion-content>
  <h1>Form</h1>
  <form [formGroup]="form">


    <div>
      <ion-row>
        <h1>C'est quoi ton prénom</h1>
      </ion-row>
      <ion-item>
        <ion-row>
          <label for="firstname"></label>
          <ion-input type="text" labelPlacement="floating" placeholder="Saisi ton prénom"
            formControlName="firstname"></ion-input>
        </ion-row>

      </ion-item>
      <!-- <input type="text" formControlName="firstname" /> -->
    </div>


    <div>
      <label for="birthday">birthday</label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>

      <!-- //<input type="date"  /> -->
    </div>



    <!-- <div>
      <ion-list>
        <ion-item>
          <label for="gender"></label>
          <ion-select formControlName="gender" aria-label="Fruit" interface="action-sheet" placeholder="Ton genre">
            <ion-select-option value="homme">Homme</ion-select-option>
            <ion-select-option value="femme">Femme</ion-select-option>
            <ion-select-option value="nonbinaire">Non Binaire</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    </div> -->





      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-button >Homme</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-button >Femme</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-button >Autre</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col>
            <ion-button >Suivant</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-button >Homme</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-button >Femme</ion-button>
          </ion-col>
        </ion-row>
        <ion-col>
          <ion-button >Suivant</ion-button>
        </ion-col>
      </ion-grid>

    <div>
      <label for="passion">passion</label>
      <input type="checkbox" formControlName="passion" />
    </div>
    <div>
      <label for="imgprofil">photo</label>
      <input type="image" formControlName="photo" />
    </div>
    <button (click)="validateForm()">Validate</button>
  </form>
</ion-content>
