<ion-content class="body">

  <form [formGroup]="form">
    <!-- Étape 1: Prénom -->
    <div [hidden]="formulaireToDisplay !=='firstname'">
      <ion-row>
        <h1>C'est quoi ton prénom</h1>
      </ion-row>
      <ion-item>
        <ion-row>
          <label for="firstname"></label>
          <ion-input type="text" labelPlacement="floating" placeholder="Saisi ton prénom"
            formControlName="firstname"></ion-input>
        </ion-row>
      </ion-item>
      <ion-row>
        <ion-text color="danger">
          <p>Tu ne pourras pas le changer après</p>
        </ion-text>
      </ion-row>
      <ion-button   shape="round" size="medium"   [disabled]="!form.get('firstname')?.valid" (click)="setFormToDisplay('birthday')">Suivant</ion-button>
    </div>

    <!-- Étape 2: Date de naissance -->
    <div [hidden]="formulaireToDisplay !=='birthday'">
      <ion-text>
        <h1>Quelle est ta date de naissance?</h1>
      </ion-text>
      <ion-datetime presentation="date" (ionChange)="testdate($event)"></ion-datetime>
      <ion-text>
          <p>Ta date de naissance sera affiché sur ton profil, pas ton age</p>
      </ion-text>
      <ion-button shape="round" size="medium"  [disabled]="!form.get('birthday')?.valid" (click)="setFormToDisplay('gender')">Suivant</ion-button>
    </div>

    <!-- Étape 3: Genre -->
    <ion-grid class="ion-no-padding" >
      <div [hidden]="formulaireToDisplay !=='gender'" >
        <h1>A quel Genre tu t'identifies?</h1>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-label for="gender"></ion-label>
            <ion-button shape="round" fill="outline" size="large"   (click)="setGender('Homme')"
              [color]="selectedOption === 'Homme' ? 'primary' : 'large'">Homme</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-label></ion-label>
            <ion-button shape="round" fill="outline" size="large"  expand="full" (click)="setGender('Femme')"
              [color]="selectedOption === 'Femme' ? 'primary' : 'large'">Femme</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col>
            <ion-button shape="round" size="medium"  [disabled]="!form.get('gender')?.valid" (click)="setFormToDisplay('desire')">Suivant</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>

    <!-- Étape 4: Genre de la personne à rencontrer -->
    <ion-grid class="ion-no-padding">
      <div [hidden]="formulaireToDisplay !=='desire'">
        <h1>Quel Genre tu aimerais rencontrer?</h1>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-label for="desire"></ion-label>
            <ion-button (click)="setDesire('Homme')"
              [color]="selectedDesire === 'Homme' ? 'primary' : 'medium'">Homme</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-label></ion-label>
            <ion-button (click)="setDesire('Femme')"
              [color]="selectedDesire === 'Femme' ? 'primary' : 'medium'">Femme</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col>
            <ion-button shape="round" size="medium"  [disabled]="!form.get('desire')?.valid" (click)="setFormToDisplay('lookingfor')">Suivant</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>

    <!-- Étape 5: Type de relation -->
    <ion-grid class="ion-no-padding">
      <div [hidden]="formulaireToDisplay !=='lookingfor'">
        <h1>Tu recherche quoi?</h1>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-label for="lookingfor"></ion-label>
            <ion-button (click)="setLookingFor('Relation Serieuse')"
              [color]="selectedOption === 'Relation Serieuse' ? 'primary' : 'medium'">Relation Serieuse</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-label></ion-label>
            <ion-button (click)="setLookingFor('Amis')"
              [color]="selectedOption === 'Amis' ? 'primary' : 'medium'">Amis</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <ion-label></ion-label>
            <ion-button (click)="setLookingFor('Sans prise de tete')"
              [color]="selectedOption === 'Sans prise de tete' ? 'primary' : 'medium'">Sans prise de tete</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col>
            <ion-button  shape="round" size="medium" [disabled]="!form.get('lookingfor')?.valid" (click)="setFormToDisplay('passions')">Suivant</ion-button>
          </ion-col>
        </ion-row>

      </div>
    </ion-grid>



    <!-- Étape 6: Passion -->
    <ion-grid class="ion-no-padding">
      <div  [hidden]="formulaireToDisplay !=='passions'">
        <h1>Quelle sont tes passions?</h1>
        <ion-row>
          <ion-col size="12">
            {{ selectedPassionsCount }} / 7
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Sport')" [color]="isPassionSelected('Sport') ? 'primary' : 'medium'">
              <ion-label>Sport</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Musique')" [color]="isPassionSelected('Musique') ? 'primary' : 'medium'">
              <ion-label>Musique</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Restaurant')"
              [color]="isPassionSelected('Restaurant') ? 'primary' : 'medium'">
              <ion-label>Restaurant</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Cinéma')" [color]="isPassionSelected('Cinéma') ? 'primary' : 'medium'">
              <ion-label>Cinéma</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Série')" [color]="isPassionSelected('Série') ? 'primary' : 'medium'">
              <ion-label>Série</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Fitness')" [color]="isPassionSelected('Fitness') ? 'primary' : 'medium'">
              <ion-label>Fitness</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Yoga')" [color]="isPassionSelected('Yoga') ? 'primary' : 'medium'">
              <ion-label>Yoga</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Foot')" [color]="isPassionSelected('Foot') ? 'primary' : 'medium'">
              <ion-label>Foot</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('CrossFit')" [color]="isPassionSelected('CrossFit') ? 'primary' : 'medium'">
              <ion-label>CrossFit</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Montagne')" [color]="isPassionSelected('Montagne') ? 'primary' : 'medium'">
              <ion-label>Montagne</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Plage')" [color]="isPassionSelected('Plage') ? 'primary' : 'medium'">
              <ion-label>Plage</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Chien')" [color]="isPassionSelected('Chien') ? 'primary' : 'medium'">
              <ion-label>Chien</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Chat')" [color]="isPassionSelected('Chat') ? 'primary' : 'medium'">
              <ion-label>Chat</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Jeux Vidéo')"
              [color]="isPassionSelected('Jeux Vidéo') ? 'primary' : 'medium'">
              <ion-label>Jeux Vidéo</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Cuisine')" [color]="isPassionSelected('Cuisine') ? 'primary' : 'medium'">
              <ion-label>Cuisine</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Danse')" [color]="isPassionSelected('Danse') ? 'primary' : 'medium'">
              <ion-label>Danse</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Twitch')" [color]="isPassionSelected('Twitch') ? 'primary' : 'medium'">
              <ion-label>Twitch</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Café')" [color]="isPassionSelected('Café') ? 'primary' : 'medium'">
              <ion-label>Café</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Thé')" [color]="isPassionSelected('Thé') ? 'primary' : 'medium'">
              <ion-label>Thé</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Street Food')"
              [color]="isPassionSelected('Street Food') ? 'primary' : 'medium'">
              <ion-label>Street Food</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Bière')" [color]="isPassionSelected('Bière') ? 'primary' : 'medium'">
              <ion-label>Bière</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Vin')" [color]="isPassionSelected('Vin') ? 'primary' : 'medium'">
              <ion-label>Vin</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Balade')" [color]="isPassionSelected('Balade') ? 'primary' : 'medium'">
              <ion-label>Balade</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Camping')" [color]="isPassionSelected('Camping') ? 'primary' : 'medium'">
              <ion-label>Camping</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Road Trip')"
              [color]="isPassionSelected('Road Trip') ? 'primary' : 'medium'">
              <ion-label>Road Trip</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Guitarre')" [color]="isPassionSelected('Guitarre') ? 'primary' : 'medium'">
              <ion-label>Guitarre</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Piano')" [color]="isPassionSelected('Piano') ? 'primary' : 'medium'">
              <ion-label>Piano</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Techno')" [color]="isPassionSelected('Techno') ? 'primary' : 'medium'">
              <ion-label>Techno</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="4">
            <ion-chip (click)="togglePassion('Rap')" [color]="isPassionSelected('Rap') ? 'primary' : 'medium'">
              <ion-label>Rap</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col>
            <ion-button  shape="round" size="medium"  [disabled]="!form.get('passions')?.valid" [disabled]="selectedPassionsCount !== 7" (click)="setFormToDisplay('photos')">Suivant</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>

    <!-- Étape 7: Photos -->
    <ion-grid>
      <div [hidden]="formulaireToDisplay !== 'photos'">
        <h1>Ajoute tes photos récentes</h1>
        <p>Tu dois au minimum rajouter 2 photos pour commencer l'aventure. Ajoutes-en 6 si tu veux faire parti des meilleures</p>
        <ion-row>
          <ion-col size="4" *ngFor="let imageUrl of uploadedImageUrls; let i = index">
            <ion-card>
              <ion-card-content class="ion-text-center">
                <!-- Remplacez l'icône par l'image (si une image est disponible) -->
                <img *ngIf="imageUrl" [src]="imageUrl" alt="Image {{i + 1}}" width="100" height="100" (click)="takePicture(i)" />

                <!-- Sinon, affichez l'icône d'ajout -->
                <ion-icon *ngIf="!imageUrl" name="add" (click)="takePicture(i)"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col>
            <ion-button  shape="round" size="medium"  [disabled]="allImagesUploaded < 1" (click)="setFormToDisplay('city')">Suivant</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <!-- <ion-grid>
      <div  [hidden]="formulaireToDisplay !=='photos'">
        <ion-row>
          <ion-col size="4" *ngFor="let imageUrl of uploadedImageUrls; let i = index">
            <ion-card>
              <ion-card-content class="ion-text-center">
                <ion-button fill="clear" color="secondary" (click)="takePicture(i)">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
                <img *ngIf="imageUrl" [src]="imageUrl" alt="Image {{i + 1}}" width="100" height="100" />
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col>
            <ion-button [disabled]="allImagesUploaded < 1"  (click)="setFormToDisplay('city')">Suivant</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid> -->

    <!-- Étape 8: Ville -->
    <ion-grid>
      <div  [hidden]="formulaireToDisplay !=='city'">
        <h1>Rajoute ta ville</h1>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Ville</ion-label>
              <ion-input formControlName="city"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col>
            <ion-button  shape="round" size="medium"  (click)="validateForm()">Suivant</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <!-- <ion-list *ngIf="filteredCities.length > 0">
      <ion-item *ngFor="let city of filteredCities">
        {{ city }}
      </ion-item>
    </ion-list> -->
  </form>
</ion-content>
