<ion-header>
  <ion-toolbar color="primary">
    <ion-title>AppDatingAngular</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
      <ion-row >
        <ion-col>
          <ion-toolbar>

            <ion-button (click)="actions('singin')" shape="round" fill="outline" size="large"  >GoogleIn</ion-button>
          </ion-toolbar>
          <!-- <ion-button (click)="actions('singout')" expand="block">GoogleOut</ion-button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
