<ion-header>
  <ion-toolbar color="primary">
    <ion-title>App Dating Angular</ion-title>
    <ion-icon name="logo-angular"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
      <ion-row >
        <ion-col>
          <ion-toolbar>

            <ion-button (click)="actions('singin')" shape="round" fill="outline" size="large"  expand="full">
              <ion-icon name="logo-google"></ion-icon>
              GoogleIn
            </ion-button>
          </ion-toolbar>
          <!-- <ion-button (click)="actions('singout')" expand="block">GoogleOut</ion-button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
